<h3>Top Heroes</h3>
   <md-card>
      <button md-button>FLAT</button>
      <button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </md-card>
<input [(ngModel)]="filter">
<div class="table-container">
  <div *ngFor="let hero of (heroes | heroNameStartsWith:filter)" (click)="gotoDetail(hero)"
   class="card-container table-cell" ontouchstart="this.classList.toggle('hover');">
    <hero-card [hero]="hero"></hero-card>
  </div>
</div>



<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->