<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
    
  <div class="form-area">
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" name="name"/>
    <div class="details-container">
        <label> picture: </label>
            <img [src]="hero.picture" class="img-thumbnail">
            <input [(ngModel)]="hero.picture" placeholder="picture" name="picture"/>
    </div>
    <div>
      <button class="btn btn-primary">View Missions</button>
    </div>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->